
/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-bottom: 25px;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Navigation List and Homepage List Styles */
.navList,
.homepageList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navList li,
.homepageList li {
    margin: 5px;
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.navList li:hover,
.homepageList li:hover {
    transform: translateY(-5px);
}

.navList li a,
.homepageList li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    bottom: 0;
    width: 100%;
}

.signupForm, .loginForm, .groupForm, .questionForm{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.signupForm div, .loginForm div, .groupForm div, .questionForm div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.signupForm div label, .loginForm div label, .groupForm div label, .questionForm div label{
    width: 100px;
    text-align: left;
    margin-right: 10px;
    margin-left: -10px;
}

.signupForm input[type="text"],
.signupForm input[type="password"],
.signupForm input[type="email"],
.loginForm div input[type="text"],
.loginForm div input[type="password"],
.groupForm input[type='text'],
.groupForm input[type='time'],
.groupForm input[type='date'] {
    flex: 1;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    margin-top: 1px;
 
    
    
}

.loginForm input[type='submit'],
.groupForm input[type='submit'],
.questionForm input[type='submit'],
.join-button,
.answerForm input[type='submit'],
.ansButton{
    margin: 5px;
    background-color: #333;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    width: 95%;
    margin-left: 15px;
    
    
}
.signupForm input[type='submit']:hover,
.loginForm input[type='submit']:hover,
.groupForm input[type='submit']:hover {
    background-color: #555; /* Change color on hover */
}

.homepage {
    width: 290px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

.flashes {
    padding: 10px;
    margin: 10px auto;
    color: red;
}

/* Flashcard-related styles */
#flashcards {
    text-align: center;
    margin-bottom: 40px;
}

.flashcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    margin: 20px auto;
    perspective: 1000px;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flashcard.flipped .flashcard-inner {
    transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.flashcard-back {
    transform: rotateY(180deg);
}

#flashcard-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#create-flashcard {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#flashcard-form div {
    margin-bottom: 10px;
}

#flashcard-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#flashcard-form input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

#flashcard-form button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#prev-btn,
#next-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.study_groups,
.questions{
    list-style-type: none;
}

.study_groups li,
.questions li{
    margin: 10px;
    padding: 40px; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

.filter label{
    font-size: 20px;
}

.filter input[type="text"] {
    height: 20px; 
}

.filter button{
    background-color: #333;
    border-radius: 15px;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 20px;

}

.study_groups li div,
.questions li div {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-size:18px

}
.study_groups li div span,
.questions li div span{
    text-decoration: underline;
}

.group-info,
.question-info{
    align-items: center;
    justify-content: space-between;
    display: flex;
}