/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-bottom: 25px;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Navigation List and Homepage List Styles */
.navList,
.homepageList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navList li,
.homepageList li {
    margin: 5px;
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.navList li:hover,
.homepageList li:hover {
    transform: translateY(-5px);
}

.navList li a,
.homepageList li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    bottom: 0;
    width: 100%;
}

.signupForm, .loginForm, .groupForm, .questionForm{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.signupForm div, .loginForm div, .groupForm div, .questionForm div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.signupForm div label, .loginForm div label, .groupForm div label, .questionForm div label{
    width: 100px;
    text-align: left;
    margin-right: 10px;
    margin-left: -10px;
}

.signupForm input[type="text"],
.signupForm input[type="password"],
.signupForm input[type="email"],
.loginForm div input[type="text"],
.loginForm div input[type="password"],
.groupForm input[type='text'],
.groupForm input[type='time'],
.groupForm input[type='date'],
.questionForm input[type='text'],
.questionForm div textarea{
    flex: 1;
    padding: 5px;
    border-radius: 10px;    
}

.loginForm input[type='submit'],
.groupForm input[type='submit'],
.questionForm input[type='submit'],
.join-button,
.answerForm input[type='submit'],
.ansButton,
.signupForm input[type='submit']{
    margin: 5px;
    background-color: #333;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    width: 95%;
    margin-left: 15px;
    
    
}
.signupForm input[type='submit']:hover,
.loginForm input[type='submit']:hover,
.groupForm input[type='submit']:hover {
    background-color: #555; /* Change color on hover */
}

.homepage {
    width: 290px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

.flashes {
    padding: 10px;
    margin: 10px auto;
    color: red;
}

/* Flashcard-related styles */
#flashcards {
    text-align: center;
    margin-bottom: 40px;
}

.flashcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    margin: 20px auto;
    perspective: 1000px;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flashcard.flipped .flashcard-inner {
    transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.flashcard-back {
    transform: rotateY(180deg);
}

#flashcard-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#create-flashcard {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#flashcard-form div {
    margin-bottom: 10px;
}

#flashcard-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#flashcard-form input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

#flashcard-form button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#prev-btn,
#next-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.study_groups,
.questions{
    list-style-type: none;
}

.study_groups li,
.questions li{
    margin: 10px;
    padding: 40px; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

.filter label{
    font-size: 20px;
}

.filter input[type="text"] {
    height: 20px; 
}

.filter button{
    background-color: #333;
    border-radius: 15px;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 20px;

}

.study_groups li div,
.questions li div {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-size:18px

}
.study_groups li div span,
.questions li div span{
    text-decoration: underline;
}

.group-info,
.question-info{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.answers li div {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-size:18px
}
.answers li div span{
    text-decoration: underline;
}

.answers li{
    margin: 10px;
    padding: 10px; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 2px solid black;
    display: flex;
    align-items: center;
}
.answers{
    list-style-type: none;
}


/* CSS for User Profile Page */

.default-profile-img {
    background-color: #ccc;
    border: 2px solid #ddd;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    width: 150px; 
    height: 150px;
}

.custom-file-input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.form-group {
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 5px;
    height: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0; /* Add margin-bottom to separate from the card text */
}

.card-text {
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0; /* Add margin-bottom to separate from the card text */
}

.form-control {
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn.btn-primary {
    padding: 0.375rem 0.75rem; /* Adjust as needed */
    
    /* Reduce font size */
    font-size: 0.875rem; /* Adjust as needed */

    /* Optionally adjust height */
    height:min-content;
}

/* CSS For Calendar*/

#calendar {
    max-width: 900px;
    margin: 40px auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
