<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Forum</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Study Forum</h1>
        <nav>
            <ul>
                <li><a href="questions.html">Questions</a></li>
                <li><a href="discussion.html">Discussion Forum</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="flashcards.html">Flashcards</a></li>
                <li><a href="study-groups.html">Study Groups</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="signin.html">Sign In</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Welcome to Study Forum</h2>
        <p>Explore the different sections!.</p>
        <ul>
            <li><a href="questions.html">Ask and Answer Questions</a></li>
            <li><a href="discussion.html">Participate in Discussions</a></li>
            <li><a href="calendar.html">Manage Your Study Calendar</a></li>
            <li><a href="flashcards.html">Create and Study Flashcards</a></li>
            <li><a href="study-groups.html">Join or Create Study Groups</a></li>
        </ul>
    </main>

    <footer>
        <p>&copy; Jason, Victor, Rohnan, Ann.</p>
    </footer>
</body>
</html>
