<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study Forum</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    </head>
    <body>
        <header>
            <h1>Study Forum</h1>
        </header>
        <main>
            <h2>Sign up</h2>
            <p>Create an account to find your study group!</p>
            <form class = "signupForm">
                <div>
                    <label for="studentEmail">Email</label>
                    <input type="email" id="studentEmail">
                </div>
                <div>
                    <label for="studentNumber">Student Number</label>
                    <input type="text" id="studentNumber">
                </div>
                <div>
                    <label for="studentName">Name</label>
                    <input type="text" id="name">
                </div>
                <div>
                    <label for="password1">Password</label>
                    <input type="password" id="pword1">
                </div>
                <div>
                    <label for="password2">Confirm Password</label>
                    <input type="password" id="pword2">
                </div>
                <br>
                <input type='submit' value = "Create Account">
            </form>
            <button class = 'homepage' href="index.html">Go Back
            </button>
            <br>
            <a href='signin.html'>Already have an account?</a>
        </main>
        <footer>
            <p>Jason,Victor, Rohnan, Ann</p>
        </footer>
    </body>
</html>