<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study Forum</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    </head>
    <body>
        <header>
            <h1>Study Forum</h1>
        </header>
        <main>
            <h2>Sign In</h2>
            <p>Making study a little less lonely</p>
            <form class = "signinForm">
                <div>
                    <label for="studentEmail">Email or Student Number</label>
                    <input type="text" id="studentEmail">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="pssword">
                </div>
                <br>
                <input type='submit' value = 'Log In'>
            </form>
            <button class = 'homepage' href="index.html">Go Back
            </button>
            <br>
            <a href="signin.html">Don't have an account? Sign up!</a>
        </main>
        <footer>
            <p>Jason,Victor, Rohnan, Ann</p>
        </footer>
    </body>
</html>