<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study Forum</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    </head>
    <body>
        <header>
            <h1>Study Forum</h1>
            <nav>
                <ul>
                    <li><a href="{{url_for('index')}}">Home page</a></li>
                    <li><a href="questions.html">Questions</a></li>
                    <li><a href="discussion.html">Discussion Forum</a></li>
                    <li><a href="calendar.html">Calendar</a></li>
                    <li><a href="flashcards.html">Flashcards</a></li>
                    <li><a href="study-groups.html">Study Groups</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Sign up</h2>
            <p>Create an account to find your study group!</p>
            <form action="/signup" method="POST" class = "signupForm">
                <div>
                    <label for="studentEmail">Email</label>
                    <input type="email" name = 'email' required>
                </div>
                <div>
                    <label for="studentNumber">Student Number</label>
                    <input type="text" name = 'studentNumber' required>
                </div>
                <div>
                    <label for="studentName">Username</label>
                    <input type="text" name="username" required>
                </div>
                <div>
                    <label for="password1">Password</label>
                    <input type="password" name = "password1" required>
                </div>
                <div>
                    <label for="password2">Confirm Password</label>
                    <input type="password" name = "password2" required>
                </div>
                <br>
                <input type='submit' value = "Create Account">
            </form>
            <button class = 'homepage' href="index.html">Go Back
            </button>
            <br>
            <a href="{{ url_for('signup') }}">Already have an account?</a>
        </main>
        <footer>
            <p>Jason,Victor, Rohnan, Ann</p>
        </footer>
    </body>
</html>

