<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion Forum - Study Forum</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/discussion.js"></script>
</head>
<body>
    <header>
        <h1>Study Forum</h1>
        <nav>
            <ul class = 'navList'>
                <li><a href="{{url_for('index')}}">Home page</a></li>
                <li><a href="{{url_for('discussion')}}">Discussion Forum</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="flashcards.html">Flashcards</a></li>
                <li><a href="{{ url_for('study_groups')}}">Study Groups</a></li>
                {% if 'username' in session %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div  style = 'text-align: center;'>
            <h2>Question:</h2>
            <p> {{question.question}}</p>
            <h2>Other People's Answers</h2>
            <ul class = "answers" id="answers">
                {% for answer in answers %}
                <li class="answer-item">
                    <div class="answer-details">
                        <div class="answer-info">
                            <span>{{ answer.answerUsername }}</span>
                        </div>
                        <div class="answer">
                            <p>{{ answer.answer }}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <h2>Your Answer:</h2>
            <form action="{{ url_for('answer', question_id=question.id) }}" method="POST" class="answerForm">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.answer(size=20, rows=20, cols=70, required=True) }}
                </div>
                <br>
                {{ form.submit() }}
            </form>
            <a href="{{url_for('discussion')}}">
                <button class='homepage' >Go Back</button>
            </a>
        </div>
    </main>
    <footer>
        <p>&copy; Jason, Victor, Rohnan, Ann.</p>
    </footer>
</body>
</html>