<!-- discussion.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion Forum - Study Forum</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/discussion.js"></script>
</head>
<body>
    <header>
        <h1>Study Forum - Discussion Forum</h1>
        <nav>
            <ul class = 'navList'>
                <li><a href="{{url_for('index')}}">Home page</a></li>
                <li><a href="{{url_for('discussion')}}">Discussion Forum</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="flashcards.html">Flashcards</a></li>
                <li><a href="{{ url_for('study_groups')}}">Study Groups</a></li>
                {% if 'username' in session %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div  style = 'text-align: center;'>
        <h2> Post Your Questions!</h2>
    </div>
    <main>
        <form action="{{url_for('discussion')}}" method="POST" class = "questionForm">
            {{ form.hidden_tag() }}
            <div>
                {{ form.unit_code.label }}
                {{ form.unit_code(class_='form-control') }}
            </div>
            <div>
                {{ form.question.label }}
                {{ form.question(rows=7, class_='form-control') }}
            </div>
            <br>
            {{ form.submit(class_='btn btn-primary') }}
        </form>
    </main>
    <div  style = 'text-align: center;'>
        <h2> Answer Some Questions!</h2>
    </div>
    <main>
        <section id="study-groups" class = 'filter'>
            <label for="unit_code">Enter Unit Code:</label>
            <input type="text" id="unit_code">
            <button onclick=filter()>Filter</button>
        </section>
        <p id = 'warning' style="font-size: 20px;color:red;display:none;"> No Questions For Searched Unit!</p>
        
        <ul class = "questions" id="questions">
            {% for question in allquestions %}
            <li class="question-item" data-unit-code='{{ question.unit_code }}'>
                <div class="question-details">
                    <div class="question-info">
                        <span>{{ question.posterUsername }}</span>
                        <span>{{ question.unit_code }}</span>
                    </div>
                    <div class="question-description">
                        <p>Question: {{ question.question }}</p>
                        <a href="{{ url_for('answer', question_id=question.id) }}">
                            <button class='ansButton'>Answer Question</button>
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    
    </main>

    <footer>
        <p>&copy; Jason, Victor, Rohnan, Ann.</p>
    </footer>
</body>
</html>