{% extends "base.html" %}

{% block title %}Discussion Forum - Study Forum{% endblock %}

{% block content %}
<body>


    <main>
        <h2>Welcome to Study Forum</h2>
        <p>Explore the different sections!.</p>
        <ul class = "homepageList">

            <li><a href="{{url_for('discussion')}}">Discussion Forum</a></li>
            <li><a href="calendar.html">Manage Your Study Calendar</a></li>
            <li><a href="flashcards.html">Create and Study Flashcards</a></li>
            <li><a href="{{ url_for('study_groups')}}">Join or Create Study Groups</a></li>
        </ul>
    </main>

   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}
