<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study Forum</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    </head>
    <body>
        <header>
            <h1>Study Forum</h1>
            <nav>
                <ul class = 'navList'>
                    <li><a href="{{url_for('index')}}">Home page</a></li>
                    <li><a href="{{url_for('discussion')}}">Discussion Forum</a></li>
                    <li><a href="calendar.html">Calendar</a></li>
                    <li><a href="flashcards.html">Flashcards</a></li>
                    <li><a href="{{ url_for('study_groups')}}">Study Groups</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Sign In</h2>
            <p>Making study a little less lonely</p>
            <form class = "loginForm">
                <div>
                    <label for="studentEmail">Username</label>
                    <input type="text" name="studentEmail" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                </div>
                <br>
                <input type='submit' value = 'Login'>
            </form>
            <a href="{{ url_for('index')}}">
                <button class='homepage' >Go Back</button>
            </a>
            <br>
            <a href="{{ url_for('signup')}}">Don't have an account? Sign up!</a>
        </main>
        <footer>
            <p>Jason,Victor, Rohnan, Ann</p>
        </footer>
    </body>
</html>