<!-- study-groups.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Groups - Study Forum</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/studygroup.js" defer></script>
</head>
<body>
    <header>
        <h1>Study Forum - Study Groups</h1>
        <nav>
            <ul class = 'navList'>
                <li><a href="{{url_for('index')}}">Home page</a></li>
                <li><a href="{{url_for('discussion')}}">Discussion Forum</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="flashcards.html">Flashcards</a></li>
                <li><a href="{{ url_for('study_groups')}}">Study Groups</a></li>
                {% if 'username' in session %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div  style = 'text-align: center;'>
            <h2 style ='font-weight: bold; text-decoration: underline;'> Make a Study Group!</h2>
        </div>
        <div class= 'container'>
            <ul id="errorList" style="color: red; list-style-type: none;"></ul>
        </div>
        <form action="{{url_for('study_groups')}}" method="POST" class="groupForm">
            {{ form.hidden_tag() }}
            <div>
                {{ form.unit_code.label }}
                {{ form.unit_code}}
                <br>
            </div>
            <div>
                {{ form.location.label }}
                {{ form.location}}
                <br>
            </div>
            <div>
                {{ form.dateof.label }}
                {{ form.dateof}}
                <br>
            </div>
            <div>
                {{ form.time.label }}
                {{ form.time}}
                <br>
            </div>
            <div>
                {{ form.description.label }}
                {{ form.description}}
                <br>
            </div>
            {{ form.submit(class="btn btn-primary", id="submitBtn") }}
        </form>
        <br>
    
        <div  style = 'text-align: center;'>
            <h2 style ='font-weight: bold; text-decoration: underline;'> Look for a Group!</h2>
        </div>
    
        <div id="study-groups" class="filter">
            <label for="filter_code">Enter Unit Code:</label>
            <input type="text" id="filter_code">
            <br>
            <label for="keywords">Enter Keywords:</label>
            <input type="text" id="keywords">
            <br>
            <button id="filterButton">Filter</button>
        </div>
        <p id = 'warning' style="font-size: 20px;color:red;display:none;"> Study Group with Unit Code not Found!</p>
        
        <ul class="study_groups" id="study_groups">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message"  style="font-size: larger; font-weight: bold; text-decoration: underline; color: red;">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            {% for group in allgroups %}
            <li class="group-item" data-unit-code='{{ group.unit_code }}' data-group-id='{{ group.group_id }}' data-description="{{group.description}}">
                <div class="group-details">
                    <div class="group-info">
                        <span>{{ group.group_id }}</span>
                        <span>Location: {{ group.location }}</span>
                        <span>{{ group.unit_code }}</span>
                        <span>Date: {{ group.date }}</span>
                        <span>Time: {{ group.time }}</span>
                    </div>
                    <div class="group-description">
                        <p>Description: {{ group.description }}</p>
                        <a href="{{ url_for('joingroup', group_id=group.group_id) }}" class='btn btn-primary join-button'>Join Group</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    
    </main>

    <footer>
        <p>&copy; Jason, Victor, Rohnan, Ann.</p>
    </footer>
</body>
</html>