<!-- study-groups.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Groups - Study Forum</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/studygroup.js"></script>
</head>
<body>
    <header>
        <h1>Study Forum - Study Groups</h1>
        <nav>
            <ul class = 'navList'>
                <li><a href="{{url_for('index')}}">Home page</a></li>
                <li><a href="questions.html">Questions</a></li>
                <li><a href="discussion.html">Discussion Forum</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="flashcards.html">Flashcards</a></li>
                <li><a href="{{ url_for('study_groups')}}">Study Groups</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="study-groups" class = 'filter'>
            <label for="unit_code">Enter Unit Code:</label>
            <input type="text" id="unit_code">
            <button onclick="filterGroups()">Filter</button>
        </section>
        <ul class = "study_groups" id="study_groups">
            <li class="group-item" data-unit-code = 'CITS3403'>
                <div> username1</div> <div> Location</div> <div> CITS3403</div><div>Time</div>
            </li>
            
            <li class="group-item"  data-unit-code = 'CITS2401'>
                <div> username2</div> <div> Location</div> <div> CITS2401</div><div>Time</div>
            </li>
            
            <li class="group-item"  data-unit-code = 'CITS3403'>
                <div> username1</div> <div> Location</div> <div> CITS3403</div><div>Time</div>
            </li>
        </ul>
    
    </main>

    <footer>
        <p>&copy; Jason, Victor, Rohnan, Ann.</p>
    </footer>
</body>
</html>